<div class="container-fluid main">










    <!-- ------------------------Message---------------------------------- -->

    <div class="container-fluid message background-radius border">
        <p class="p-reset-color">Please confirm that you have taken delivery of the inbounds goods, confirm the actuals
            received and provide us with the actual inbound date.</p>
    </div>

    <!-- ------------------PO details---------------------------------- -->

    <div class="container-fluid background-radius po-details border">

        <p class="p-reset-color po-head">PO details</p>

        <div class="container-fluid input-box">
            <div class="row">
                <div class="col">
                    <div class="input-border">
                        <p>PO number</p>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-border">
                        <p>POL</p>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-border">
                        <p>POD</p>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-border">
                        <p>PO number</p>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="attach">
                     <div>Certificate</div>
                     <div>license</div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-border">
                        <p>POD</p>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid table-box table-striped">
            <p class="p-reset-color">Cargo</p>
            <div class="row">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Article Name</th>
                            <th scope="col">Article Number</th>
                            <th scope="col">Color Number</th>
                            <th scope="col">Dyelot Number</th>
                            <th scope="col">Booked Total Pieces</th>
                            <th scope="col">Actual Total Pieces</th>
                            <th scope="col">Booked Total Length</th>
                            <th scope="col">Actulal Total Length</th>
                            <th scope="col">Booked Total Volume</th>
                            <th scope="col">Actual Total Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lana</td>
                            <td>1B7068</td>
                            <td>1</td>
                            <td>452</td>
                            <td>125</td>
                            <td>
                                <div>125</div>
                            </td>
                            <td>15</td>
                            <td>15</td>
                            <td>4560</td>
                            <td>4560</td>
                        </tr>
                        <tr>
                            <td>Lana</td>
                            <td>1B7068</td>
                            <td>1</td>
                            <td>452</td>
                            <td>125</td>
                            <td>125</td>
                            <td>15</td>
                            <td>15</td>
                            <td>4560</td>
                            <td>4560</td>
                        </tr>
                        <tr>
                            <td>Lana</td>
                            <td>1B7068</td>
                            <td>1</td>
                            <td>452</td>
                            <td>125</td>
                            <td>125</td>
                            <td>15</td>
                            <td>15</td>
                            <td>4560</td>
                            <td>4560</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal</td>
                            <td>258</td>
                            <td>258</td>
                            <td>74</td>
                            <td>74</td>
                            <td>12000</td>
                            <td>12000</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <!-- --------------------------PO details button---------------------------- -->

    <div class="container-fluid po-button-container d-flex justify-content-end align-items-center">
        <button>Received Inbounds</button>
        <button>Cancel</button>
    </div>

    <!-- ------------------------------PO progress--------------------------------- -->
    <div class="container-fluid background-radius po-progress border">
        <p class="p-reset-color po-progress-head">PO progress</p>

        <table class="table progress-table">
            <thead>
                <tr>
                    <th scope="col">PO Raised </th>
                    <th scope="col">PO Approved</th>
                    <th scope="col">Received Inbound</th>
                    <th scope="col">Smaples Sent</th>
                    <th scope="col">Quality Approved</th>
                    <th scope="col">create Loading Plan</th>
                    <th scope="col">Loaded Container</th>
                    <th scope="col">Space Release</th>
                    <th scope="col">Vessel To Departed</th>
                    <th scope="col">Vessel To Arrived</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>
                    <td>
                        <p>On oct 13</p>
                        <p>02:00PM</p>
                    </td>

                </tr>
            </tbody>
        </table>



    </div>

    <!-- ------------------------------comment------------------------- -->

    <div class="container-fluid background-radius comment-box border border">
        <p class="p-reset-color comment-head">Comment</p>


        <div class="container-fluid">
            <div class="row comment-row">
                <div>
                    <div class="circle">AT</div>
                </div>
                <div class="comment-text">
                    <div>
                        <p>Annabel textiles</p>
                        <p>I did not request this PO yet,but I will release it anyways</p>
                    </div>
                    <div>
                        <p>25 minutes ago</p>
                    </div>
                </div>

            </div>
            <div class="row comment-row">
                <div>
                    <div class="circle">JD</div>
                </div>
                <div class="comment-text">
                    <div>
                        <p>John Doe</p>
                        <p>Lorem ipsum is a dummy text</p>
                    </div>
                    <div>
                        <p>25 minutes ago</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="comment-row add-comment">
            <div>
            </div>
            <div>
                <p class="p-reset-color">Add comments</p>
            </div>

        </div>
        <div class="comment-box">C
            <div></div>
            <div></div>
                <textarea class="container-fluid" name="" id="" cols="30" rows="10"></textarea>
          
        </div> -->

        <div class="container-fluid comment-section">
            <p class="p-reset-color">Add comments</p>
            <textarea name="" id=""></textarea>
            <div class="Submit-section d-flex justify-content-between">
                <div>
                    <p>Add attachment</p>
                </div>
                <button class="btn btn-outline-secondary">Submit comment</button>
            </div>
        </div>



    </div>

    <!-- ---------------------------activity-log------------------------- -->

    <div class="container-fluid background-radius activity-log border">
        <div>
            <p class="p-reset-color">Activity log</p>
        </div>
        <div>
            <table class="table table-box">
                <thead>
                    <tr>
                        <th scope="col">Users</th>
                        <th scope="col">Time </th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Shipper</td>
                        <td>2019-10-11 16:00:54</td>
                        <td>Lorem ipsum is simply dummy text of the printing</td>
                        <td>PO Raised</td>
                    </tr>
                    <tr>
                        <td> Shipper</td>
                        <td>2019-10-11 16:00:54</td>
                        <td>Lorem ipsum is simply dummy text of the printing</td>
                        <td>PO Raised</td>
                    </tr>
                    <tr>
                        <td> Shipper</td>
                        <td>2019-10-11 16:00:54</td>
                        <td>Lorem ipsum is simply dummy text of the printing</td>
                        <td>PO Raised</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



























</div>