<div class="container-fluid main">

    <div class="container-fluid header d-flex justify-content-end">
        <button class="button button4">filter</button>
        <button class="button button4">download reports</button>
    </div>

    <div class="container-fluid middle-section">

<!-- -----------------------button------------------------ -->
        <div class="row">
            <button class="col-6 left-btn">
                <p>show my work only</p>
            </button>
            <button class="col-6 right-btn">
                <p>all milestones</p>
            </button>


        </div>
        <div class="row">
            <div class="col-6">
                <div class="lightner"></div>
            </div>
            <div class="col-6 ">
                <div class="lightner"></div>
            </div>
        </div>

<!-- ---------------------------Toggle-bars------------------------ -->
        <ul class="container-fluid list-container collapsible">
            <li class="d-flex">
                <i></i>
                <p>Receive inbounds</p>
                <span class="badge badge-pill badge-warning">2</span>
                <span class="badge badge-pill badge-danger">1</span>
            </li>
        </ul>
        <div class="container-fluid details-container content">
            <h6>PO List</h6>
        <hr class="style-hr">

            <div class="row details-header">
                <div class="col-2 d-flex justify-content-between">
                    <input type="checkbox">

                    <p>PO Number</p>


                </div>
                <div class="col">
                    <p>Shipper</p>
                </div>
                <div class="col">
                    <p>Created on</p>
                </div>
                <div class="col">
                    <p> Receive inbounds date</p>
                </div>
                <div class="col">
                    <p>Total rolls</p>
                </div>
                <div class="col">
                    <p>Total CBM</p>
                </div>
                <div class="col">
                    <p>Total length</p>
                </div>
                <div class="col">
                    <p>Actions</p>
                </div>
            </div>

            <div class="row back-color">
                <div class="col-2 d-flex justify-content-between align-items-center">
                    <input type="checkbox">
                    <span class="color-box"></span>
                    <p>190408</p>

                </div>
                <div class="col">
                    <p>John Doe</p>
                </div>
                <div class="col">
                    <p>26-08-19</p>
                </div>
                <div class="col">
                    <p>12-05-19</p>
                </div>
                <div class="col">
                    <p>200</p>
                </div>
                <div class="col">
                    <p>07</p>
                </div>
                <div class="col">
                    <p>3256</p>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row back-color">
                <div class="col-2 d-flex justify-content-between align-items-center">
                    <input type="checkbox">
                    <span class="color-box"></span>
                    <p>190408</p>

                </div>
                <div class="col">
                    <p>John Doe</p>
                </div>
                <div class="col">
                    <p>26-08-19</p>
                </div>
                <div class="col">
                    <p>12-05-19</p>
                </div>
                <div class="col">
                    <p>200</p>
                </div>
                <div class="col">
                    <p>07</p>
                </div>
                <div class="col">
                    <p>3256</p>
                </div>
                <div class="col">

                </div>
            </div>

            <div class="row">

                <div class="col-2"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <p>Subtotal</p>
                </div>
                <div class="col back-color">
                  
                </div>
                <div class="col back-color">
                    <p>352</p>
                </div>
                <div class="col back-color">
                    <p> 19</p>
                </div>
                <div class="col back-color">
                    <p> 4556</p>
                </div>
            </div>


            <div class="row d-flex justify-content-between page-change">
                <div class="col-3 d-flex align-items-center">
                    <p>View per page</p>
                    <select class="select-box">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <div class="col-3 d-flex align-items-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>





        </div>
        <ul class="container-fluid list-container">
            <li class="d-flex">
                <i></i>
                <p>Send sample</p>
                <span class="badge badge-pill badge-warning">2</span>
                <span class="badge badge-pill badge-danger">1</span>
            </li>
        </ul>
        <ul class="container-fluid list-container">
            <li class="d-flex">
                <i></i>
                <p>Collect rejected groups</p>
                <span class="badge badge-pill badge-warning">2</span>
                <span class="badge badge-pill badge-danger">1</span>
            </li>
        </ul>

<!-- ----------------------------List----------------------------- -->


        <div class="container-fluid details-container ">
            <h6>PO List</h6>
        <hr class="style-hr">

            <div class="row details-header">
                <div class="col-2 d-flex justify-content-between">
                    <input type="checkbox">

                    <p>PO Number</p>


                </div>
                <div class="col">
                    <p>Shipper</p>
                </div>
                <div class="col">
                    <p>Created on</p>
                </div>
                <div class="col">
                    <p> Receive inbounds date</p>
                </div>
                <div class="col">
                    <p>Total rolls</p>
                </div>
                <div class="col">
                    <p>Total CBM</p>
                </div>
                <div class="col">
                    <p>Total length</p>
                </div>
                <div class="col">
                    <p>Actions</p>
                </div>
            </div>

            <div class="row back-color">
                <div class="col-2 d-flex justify-content-between align-items-center">
                    <input type="checkbox">
                    <span class="color-box"></span>
                    <p>190408</p>

                </div>
                <div class="col">
                    <p>John Doe</p>
                </div>
                <div class="col">
                    <p>26-08-19</p>
                </div>
                <div class="col">
                    <p>12-05-19</p>
                </div>
                <div class="col">
                    <p>200</p>
                </div>
                <div class="col">
                    <p>07</p>
                </div>
                <div class="col">
                    <p>3256</p>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row back-color">
                <div class="col-2 d-flex justify-content-between align-items-center">
                    <input type="checkbox">
                    <span class="color-box"></span>
                    <p>190408</p>

                </div>
                <div class="col">
                    <p>John Doe</p>
                </div>
                <div class="col">
                    <p>26-08-19</p>
                </div>
                <div class="col">
                    <p>12-05-19</p>
                </div>
                <div class="col">
                    <p>200</p>
                </div>
                <div class="col">
                    <p>07</p>
                </div>
                <div class="col">
                    <p>3256</p>
                </div>
                <div class="col">

                </div>
            </div>

            <div class="row">

                <div class="col-2"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <p>Subtotal</p>
                </div>
                <div class="col back-color">
                  
                </div>
                <div class="col back-color">
                    <p>352</p>
                </div>
                <div class="col back-color">
                    <p> 19</p>
                </div>
                <div class="col back-color">
                    <p> 4556</p>
                </div>
            </div>


            <div class="row d-flex justify-content-between page-change">
                <div class="col-3 d-flex align-items-center">
                    <p>View per page</p>
                    <select class="select-box">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <div class="col-3 d-flex align-items-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>





        </div>




    </div>































</div>