<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <span class="logo"><img alt="logo" src="../../../assets/images/Group 222_2020-01-03/Group 222@2x.png"></span><h3>SUPPLIER</h3>
        </div>
        
        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="menuIcon">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                    </span>Settings</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['/setting/user']" [routerLinkActive]="['router-link-active']">
                            User Management
                          </a>
                    </li>
                    <li>
                        <a [routerLink]="['/setting/role']" [routerLinkActive]="['router-link-active']">
                            Roles Management
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="#">About</a>
            </li> -->
            <!-- <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> -->
        </ul>
    </nav>

</div>
