<div class="main_header">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fas fa-bell"></i></a></li>
      <li>
            <div class="avatar">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
            </div>
    </li>
    <li><a href="#" class="name_tag">John Doe</a></li>
    </ul>
  </nav>
</div>
